



<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
     
        <div id="sidebar-menu">
            <ul>
                <li>
                    <a href="dashboard" class="waves-effect"><span> Dashboard </span></a>
                </li>
                <li>
                    <a href="brands" class="waves-effect"><span>Brands </span></a>
                 </li>
               
                 <li>
                    <a href="booking" class="waves-effect"><span>Booking </span></a>
                 </li>
                 <li>
                    <a href="Index/merchants" class="waves-effect"><span>Manage Merchants </span></a>
                </li>
                <li>
                    <a href="invitemerchants" class="waves-effect"><span>Invite Merchants </span></a>
                </li>
                <li>
                <a href="offers" class="waves-effect"><span>Manage Offers </span></a>
                </li> <li>
                <a href="users" class="waves-effect"><span>Manage Users </span></a>
                </li>
                 <li>
                <a href="feedback" class="waves-effect"><span>Feedbacks </span></a>
                </li>

            
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End --> 

