

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<app-top-bar></app-top-bar>
<body class="fixed-left">
        <!-- Begin page -->
        <div id="wrapper">
         <app-side-bar></app-side-bar>
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">

                        <!-- Page-Title -->
                         <!-- Page-Title -->
                        
                        <div class="row">
                            <div class="col-md-12">
                               
  <router-outlet></router-outlet>
                            </div>
                        </div>
              
                        <div class="row">
                            <div class="col-sm-12">
                            <button type="button" hidden  class="pull-right btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal">Search Merchant</button>
                        </div>
                            </div>
                    </div> <!-- container -->
                               
                </div> <!-- content -->

                
                <footer class="footer text-right pull-right">
                    2016 - {{ dateyear }}  © PGMED.
        </footer>
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        

        </div>
        <!-- END wrapper -->

        
    

</body>

</html>