  <!-- Top Bar Start -->
  <div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">{{name}}
        <div class="text-center">
            <a href="/dashboard" class="logo"> <img src="../../assets/images/applogo.png" alt="user-img" style="height:50px;padding:5px;" class="rounded-circle"><span>UsTime </span></a>
        </div>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-right float-right list-inline">
                <li class="dropdown d-none d-sm-block">
                    <a  data-target="#" class="dropdown-toggle waves-effect waves-light"  data-toggle="dropdown" aria-expanded="true">
                        <i class="md md-notifications"></i> <span class="badge badge-pill badge-xs badge-danger">3</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg">
                        <li class="text-center notifi-title">Notification</li>
                        <li class="list-group">
                           <!-- list item-->
                           <a href="javascript:void(0);" class="list-group-item">
                              <div class="media">
                                 <div class="media-left pr-2">
                                    <em class="fa fa-user-plus fa-2x text-info"></em>
                                 </div>
                                 <div class="media-body clearfix">
                                    <div class="media-heading">New user registered</div>
                                    <p class="m-0">
                                       <small>You have 10 unread messages</small>
                                    </p>
                                 </div>
                              </div>
                           </a>
                           <!-- list item-->
                            <a href="javascript:void(0);" class="list-group-item">
                              <div class="media">
                                 <div class="media-left pr-2">
                                    <em class="fa fa-diamond fa-2x text-primary"></em>
                                 </div>
                                 <div class="media-body clearfix">
                                    <div class="media-heading">New settings</div>
                                    <p class="m-0">
                                       <small>There are new settings available</small>
                                    </p>
                                 </div>
                              </div>
                            </a>
                            <!-- list item-->
                            <a href="javascript:void(0);" class="list-group-item">
                              <div class="media">
                                 <div class="media-left pr-2">
                                    <em class="fa fa-bell-o fa-2x text-danger"></em>
                                 </div>
                                 <div class="media-body clearfix">
                                    <div class="media-heading">Updates</div>
                                    <p class="m-0">
                                       <small>There are
                                          <span class="text-primary">2</span> new updates available</small>
                                    </p>
                                 </div>
                              </div>
                            </a>
                           <!-- last list item -->
                            <a href="javascript:void(0);" class="list-group-item">
                              <small>See all notifications</small>
                            </a>
                        </li>
                    </ul>
                </li>
               
                <li class="dropdown" dropdown >
                    <a  data-target="#" class="dropdown-toggle waves-effect waves-light profile"  data-toggle="dropdown" aria-expanded="true"><img src="../../assets/images/avatar-1.jpg" alt="user-img" class="rounded-circle"> </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-face-unlock mr-2"></i> Profile</a></li>
                        <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-settings mr-2"></i> Settings</a></li>
                        <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-lock mr-2"></i> Lock screen</a></li>
                        <li><a href="javascript:void(0)" class="dropdown-item"><i class="md md-settings-power mr-2"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>